.intro-view {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.intro-view__content {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.intro-view__content-container {
    margin-top: 188px;
    align-items: center;
}
